body {
  background-color: #708090;
}
div {
  height: auto;
  width: 450px;
  background-color: rgba(248, 248, 248, 0.864);
  padding-bottom: 15px;
}
h1 {
  background-color: #0088dd;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: arial;
  font-weight: 350;
}
input {
  height: 60px;
  width: 400px;
  border: 1px solid #bdbdbd;
  background-color: white;
  margin: 15px;
}
#button {
  background-color: #0088dd;
  font-size: large;
  color: white;
}
input.isi {
  padding-left: 10px;
}
p {
  width: 75%;
  background-color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
}
